$background: lightgray;
$dark: gray;

body {
    background-color: $background;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;

    * {
        box-sizing: border-box;
    }

    .Input {
        &:not(:focus) {
            border: none;
            text-align: center;
        }
    }

    .Dashboard {
        display: flex;
        height: 100%;
        padding: 2.5rem 1rem;

        & > * {
            flex: 1 1 1px;
            min-width: 15rem;
            max-width: 25rem;
            height: 100%;

            border-radius: 4px;
            margin: 0 0.25rem;
        }

        & > .add {
            border: 2px dashed $dark;

            text-align: center;
            line-height: 100%;
            vertical-align: middle;

            display: flex;
            flex-direction: column;
            justify-content: center;

            cursor: pointer;
        }

        .Column {
            background-color: white;

            .header {
                padding-top: 3px;
                display: flex;
                text-align: center;

                & > div {
                    flex: 1 1 1px;
                }
            }
        }
    }
}