$background: rgb(131, 140, 145);
$light: lightgray;
$dark: gray;

body {
    background-color: $background;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;

    * {
        box-sizing: border-box;
    }

    img {
        object-fit: contain;
        max-width: 100%;
    }

    .Input {
        background-color: white;
        width: 100%;
        max-width: 100%;

        &:not(:focus) {
            border: none;
            background-color: transparent;
        }
    }

    .Dashboard {
        display: flex;
        height: 100%;
        padding: 2.5rem 1rem;

        & > * {
            flex: 1 1 1px;
            min-width: 15rem;
            max-width: 25rem;
            height: 100%;

            border-radius: 4px;
            margin: 0 0.25rem;
        }

        & > .add {
            border: 2px dashed $dark;

            text-align: center;
            line-height: 100%;
            vertical-align: middle;

            display: flex;
            flex-direction: column;
            justify-content: center;

            cursor: pointer;
        }

        .Column {
            background-color: $light;
            display: flex;
            flex-direction: column;

            .header {
                padding: 3px 5px;
                display: flex;
                text-align: center;

                align-items: center;

                & > div {
                    flex: 3 1 1px;

                    &:last-of-type {
                        flex-grow: 1;
                        text-align: right;

                        cursor: pointer;

                        img {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }

            & >  *:not(.header) {
                flex: 10 1 1px;
            }

            .Task {
                background-color: white;
                border-radius: 2px;
                margin: 10px 5px;
            }
        }
    }
}